.card {
    width: 260px;
    height: 450px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 2px;
    padding: 5px;
}

.cardd {
    display: flex;
    justify-content: space-between;
}


.cart {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;


}

.map_text {
    font-size: 20px;
    font-weight: 700;
    color: teal;
}

.map_role {
    font-size: 12px;
    font-weight: 700;
    color: black;
}

.map_des {
    font-size: 16px;
    font-weight: 600;
    color: black;
}